   
    <ngb-carousel >
      <ng-template ngbSlide>
        <img src="assets/rit4.PNG " style=" width:1500px;height:400px;" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/rit2.jpg" style=" width:1500px;height:400px;" alt="Random second slide">      
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/rit3.jpg" style=" width:1500px;height:400px;" alt="Random third slide">    
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/ritimg4.PNG" style=" width:1500px;height:400px;" alt="Random fourth slide"> 
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/rit5.jpg" style=" width:1500px;height:400px;" alt="Random fifth slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/rit6.jpg" style=" width:1500px;height:400px;" alt="Random sixth slide">
      </ng-template>
    </ngb-carousel>
    <hr>
    <ng-marquee speed="drowsy" [stopOnHover]="true" direction="right" scrolldelay="2000s">All B.Tech programmes are accredited by National Board of Accreditation till 2022. .... The B.Arch programme is approved by Council of Architecture..</ng-marquee>
    <ng-marquee speed="slow" [stopOnHover]="true" direction="right">AICTE Sponsored Faculty Development Programme (Online) on Renewable Energy and Power Electronics for Industrial Drives Applications – Phase 1 Organi <span class="badge badge-pill badge-danger">New</span></ng-marquee>
    <hr>
    <div class="container-lg">
    <h1 style="text-align:center">WELCOME TO RAJIV GANDHI INSTITUTE OF TECHNOLOGY</h1>
    <h2 style="text-align:center">Govt. Engineering College, Pampady, Kottayam</h2>
    <h3 style="text-align:center">About Us...</h3>
    <p>Rajiv Gandhi Institute of Technology, named after the late Prime Minister Sri Rajiv Gandhi, run by the Government of Kerala, started functioning in 1991. It has established a vast infrastructure and put together a team of dedicated teachers. The institution has become one of the leading technical Institutes in Kerala.

      The government has started this institution in the view of making it a center for post graduation and research studies. The college is affiliated to the APJ ABDUL KALAM TECHNOLOGICAL UNIVERSITY. RIT, the sanctum of technology aims at providing high quality education for talented students from all sections of the society. Owned and managed by the Government of Kerala, it has a highly qualified and dedicated faculty. More than providing technical education RIT aims at the overall development of each and every RITian. The college provides a positive environment for the students to develop their potentials and to excel in all walks of life.READ MORE
      
      
      </p>
      <h3 style="text-align:center">Courses Offered...</h3>
      <p>All courses offered by RIT are affiliated to APJ Abdul Kalam Technological University and approved by the All India Council for Technical Education (AICTE).The B. Tech programmes are of 8 semester (4 year) duration. The combined first and second semester courses are common for all branches.The B. Arch programme is of 10 semester (5 year) duration. The M. Tech programmes are of 4 semester (2 year) duration, and the MCA programme is of 6 semester (3 year) duration.</p>
    </div>
    