<h1 style="text-align:center;color:royalblue"><b>Student List</b></h1>
<div class="float-right">
  <div class="nav-item dropdown" ngbDropdown>
    <a
      class="nav-link dropdown-toggle"
      id="navbarScrollingDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      ngbDropdownToggle
    >
      Control View
    </a>
    <ul
      class="dropdown-menu"
      ngbDropdownMenu
      aria-labelledby="navbarScrollingDropdown"
    >
      <li ngbDropdownItem>
        <input
          type="checkbox"
          [checked]="showID"
          (change)="showID = !showID"
        />ID
      </li>
      <li ngbDropdownItem>
        <input
          type="checkbox"
          [checked]="showName"
          (change)="showName = !showName"
        />Name
      </li>
      <li ngbDropdownItem>
        <input
          type="checkbox"
          [checked]="showGender"
          (change)="showGender = !showGender"
        />Gender
      </li>
      <li ngbDropdownItem>
        <input
          type="checkbox"
          [checked]="showStream"
          (change)="showStream = !showStream"
        />
        Stream
      </li>
      <li ngbDropdownItem>
        <input
          type="checkbox"
          [checked]="showMarks"
          (change)="showMarks = !showMarks"
        />Marks
      </li>
    </ul>
  </div>
</div>
<br />
<input
  class="glyphicon glyphicon-search"
  type="text"
  name="name"
  [(ngModel)]="name"
  (ngModelChange)="search()"
  placeholder="Search by name"
/>
<br />
<table class="table table-hover">
  <thead>
    <tr class="table-info">
      <th scope="col" *ngIf="showID">ID</th>
      <th scope="col" *ngIf="showName">Name</th>
      <th scope="col" *ngIf="showGender">Gender</th>
      <th scope="col" *ngIf="showStream">Stream</th>
      <th scope="col" *ngIf="showMarks">Marks</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of collection.data">
      <td *ngIf="showID" routerLink="/detail/{{ student.id }}">
        {{ student.id }}
      </td>
      <td *ngIf="showName" routerLink="/detail/{{ student.id }}">
        {{ student.name }}
      </td>
      <td *ngIf="showGender" routerLink="/detail/{{ student.id }}">
        {{ student.gender }}
      </td>
      <td *ngIf="showStream" routerLink="/detail/{{ student.id }}">
        {{ student.stream }}
      </td>
      <td *ngIf="showMarks" routerLink="/detail/{{ student.id }}">
        {{ student.marks }}
      </td>
    </tr>
  </tbody>
</table>
<app-pagination-new
  [totalRecords]="totalvalue"
  [recordsPerPage]="currentpageSize"
  (onPageChange)="pageChanged($event)"
  (pageSizeEvent)="getPageInNewSize($event)"
>
</app-pagination-new>
