<h1>Student List</h1>
<input
  class="glyphicon glyphicon-search"
  type="text"
  name="name"
  [(ngModel)]="name"
  (ngModelChange)="search()"
  placeholder="Search by name"
/>
<br />
<app-reusable-table
  [gridData]="userdata"
  [colData]="colData"
  (onRowSelection)="rowSelection($event)"
  (onRowDeletion)="deleteStudentDetails($event)"
></app-reusable-table>
<app-pagination-new
  [totalRecords]="totalvalue"
  [recordsPerPage]="currentpageSize"
  (onPageChange)="pageChanged($event)"
  (pageSizeEvent)="getPageInNewSize($event)"
>
</app-pagination-new>
<modal #modal [modalConfig]="modalConfig">
  Student details has been deleted.
</modal>
