
<div class="row">
      <div class="col-xs-8">
            <img src="assets\ritlogo.jpg" alt="logo" style="width:100px;height:100px;" /> 
      </div>
      <div class="col-xs-15">
                  <pre>           
 <b>    Rajiv Gandhi Institute of Technology</b>  
     Velloor PO Pampady Kottayam - 686501,
     Kerala State     </pre>     
      </div>
      <div class="col">
                  <div class="float-right">
                      <a href="http://www.facebook.com"> <img src="assets\fb.png"  alt="facebook" style="width:60px;height:50px;"/></a>
                      <a href="http://www.linkedin.com"> <img src="assets\in.png"  alt="facebook" style="width:60px;height:50px;"/></a>
                      <a href="http://www.twitter.com"> <img src="assets\twitter.png"  alt="facebook" style="width:50px;height:50px;"/></a> 
                  </div>
      </div>

</div>
<hr>

<div class="container-lg">
      <ng-marquee speed="slow"> <h1><b>Welcome to Rajiv Gandhi Institute of Technology...</b></h1></ng-marquee>      
            <br> 
      <img src="assets\ritimg1.PNG" alt="Image 1" style="width:1000px;height:500px;" /> 
                
      <br>
      <br>
      <div>
            Rajiv Gandhi Institute of Technology, Kottayam, India (RIT) is a government engineering college owned and
            operated by the Government of Kerala. Located 14 km from Kottayam near Pampady, the institute was founded
            in 1991 by the Government of Kerala with a view of making it a centre of postgraduate and research studies.
            It was named after Shri Rajiv Gandhi, Prime Minister of India.
      </div>
      </div>
      