.error{
    color:red;
}
.container-sm{
    height: 700px;
    width: 500px;
    border: 6em;
    background-color:#e3f2fd
}
.container-sm .p{
    color: green
}
 .modal-header{
background-color: red
}