.container-md{
    font-size: 5;
    height: 400px;
    width: 400px;
    background-color: #EEE;
    border: 20px;
   
}
.container-md h2{
 text-align: center;
}
.container-md table{
   table-layout: fixed;
    tab-size: 5em;
}